Repository VMelnalksnis/Gnomeshade: changes, and which Codecov flags are due for each by the changed paths.
All: API, UI

feat(desktop): Add overview of loans to be migrated
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeData.cs
  source/Gnomeshade.Avalonia.Core/MainWindowViewModel.cs
  source/Gnomeshade.Avalonia.Core/ServiceCollectionExtensions.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/Migration/LoanCounterpartyComparer.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/Migration/LoanMigrationRow.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/Migration/LoanMigrationViewModel.cs
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Loans/Migration/LoanMigrationView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Loans/Migration/LoanMigrationView.axaml.cs
Due: UI

build(deps): Bump coverlet.collector from 6.0.0 to 6.0.1
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: UI

build(deps): Bump Npgsql.EntityFrameworkCore.PostgreSQL from 8.0.0 to 8.0.2
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

fix(api): Fix response annotations for POST endpoint
  source/Gnomeshade.WebApi/V1/CreatableBase.cs
Due: API

test: Exclude obsolete code from code coverage
  tests/coverlet.runsettings
Due: none

feat(desktop): Remove loan balance from counterparty overview
  source/Gnomeshade.Avalonia.Core/Counterparties/CounterpartyMergeViewModel.cs
  source/Gnomeshade.Avalonia.Core/Counterparties/CounterpartyRow.cs
  source/Gnomeshade.Avalonia.Core/Counterparties/CounterpartyViewModel.cs
  source/Gnomeshade.Desktop/Views/Counterparties/CounterpartyView.axaml
  tests/Gnomeshade.Avalonia.Core.Tests/Counterparties/CounterpartyViewModelTests.cs
Due: UI

fix(desktop): Include the type name in the exception message when failed to locate the view
  source/Gnomeshade.Avalonia.Core/ViewLocator.cs
Due: UI

docs: Add loan changes to changelog.html
  docs/changelog.html
Due: none

feat(desktop): Add UI for loan payments
  source/Gnomeshade.Avalonia.Core/AutoCompleteSelectors.cs
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeData.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanPaymentRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanViewModel.cs
  source/Gnomeshade.Avalonia.Core/Loans/Migration/LegacyLoanRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/Migration/LoanCounterpartyComparer.cs
  source/Gnomeshade.Avalonia.Core/Loans/Migration/LoanMigrationRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/Migration/LoanMigrationViewModel.cs
  source/Gnomeshade.Avalonia.Core/MainWindowViewModel.cs
  source/Gnomeshade.Avalonia.Core/ServiceCollectionExtensions.cs
  source/Gnomeshade.Avalonia.Core/TaskExtensions.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/LoanOverview.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/LoanPaymentUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/LoanPaymentViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/LoanUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Loans/Migration/LoanMigrationViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionUpsertionViewModel.cs
  source/Gnomeshade.Desktop/App.axaml
  source/Gnomeshade.Desktop/Views/Loans/LoanUpsertionView.axaml
  source/Gnomeshade.Desktop/Views/Loans/LoanUpsertionView.axaml.cs
  source/Gnomeshade.Desktop/Views/Loans/LoanView.axaml
  source/Gnomeshade.Desktop/Views/Loans/LoanView.axaml.cs
  source/Gnomeshade.Desktop/Views/Loans/Migration/LoanMigrationView.axaml
  source/Gnomeshade.Desktop/Views/Loans/Migration/LoanMigrationView.axaml.cs
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Loans/LoanUpsertionView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Loans/LoanUpsertionView.axaml.cs
  source/Gnomeshade.Desktop/Views/Transactions/Loans/LoanView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Loans/LoanView.axaml.cs
Due: UI

fix(desktop): Include port in credential name if not using the default
  docs/changelog.html
  source/Gnomeshade.Desktop/Authentication/WindowsCredentialStorageService.cs
Due: UI

feat(desktop): Update the list of available currencies once account has been selected
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/AutoCompleteSelectors.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferUpsertionViewModel.cs
  source/Gnomeshade.Desktop/Views/Transactions/Transfers/TransferUpsertionView.axaml
Due: UI

ci: Bump version to 0.8.0
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

add actipro
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/Help/override.json
  source/Gnomeshade.Desktop/Gnomeshade.Desktop.csproj
  source/Gnomeshade.Desktop/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
Due: UI

remove fluent theme
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Desktop/Gnomeshade.Desktop.csproj
  source/Gnomeshade.Desktop/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
Due: UI

Use Actipro Modern Theme instead of default fluent theme
  source/Gnomeshade.Desktop/App.axaml
  source/Gnomeshade.Desktop/Assets/Hack-Regular.ttf
  source/Gnomeshade.Desktop/Assets/Hack-RegularOblique.ttf
  source/Gnomeshade.Desktop/Assets/Inconsolata-Regular.ttf
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
  source/Gnomeshade.Desktop/Views/Transactions/TransactionView.axaml
Due: UI

feat(desktop): Add loan filter for transactions
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/AutoCompleteSelectors.cs
  source/Gnomeshade.Avalonia.Core/TaskExtensions.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Controls/TransactionFilter.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionOverview.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionViewModel.cs
  source/Gnomeshade.Desktop/Views/Transactions/Controls/TransactionFilterView.axaml
  tests/Gnomeshade.Avalonia.Core.Tests/Transactions/Controls/TransactionFilterTests.cs
  tests/Gnomeshade.Avalonia.Core.Tests/Transactions/TransactionOverviewComparerTests.cs
Due: UI

ci: Automatically delete untagged versions of gnomeshade docker image
  .github/workflows/docker-cleanup.yml
  Gnomeshade.sln
Due: none

fix(desktop): Display currencies as alphabetic codes instead of full names
  docs/changelog.html
  source/Gnomeshade.Desktop/App.axaml
Due: UI

feat(desktop): Add account and currency filters for balance report
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Reports/BalanceReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/TransactionExtensions.cs
  source/Gnomeshade.Desktop/Views/Reports/BalanceReportView.axaml
  tests/Gnomeshade.Avalonia.Core.Tests/Reports/BalanceReportViewModelTests.cs
Due: UI

feat: Add logo
  docs/favicon.ico
  source/Gnomeshade.Desktop.Installer/Product.wxs
  source/Gnomeshade.Desktop/Assets/avalonia-logo.ico
  source/Gnomeshade.Desktop/Assets/gnomeshade.ico
  source/Gnomeshade.Desktop/Gnomeshade.Desktop.csproj
  source/Gnomeshade.Desktop/Views/DialogWindow.axaml
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
  source/Gnomeshade.WebApi.Client/Gnomeshade.WebApi.Client.csproj
  source/Gnomeshade.WebApi.Client/packageIcon.png
Due: API, UI

build: bump .NET SDK from 8.0.200 to 8.0.204
  Dockerfile
  docs/changelog.html
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): bump WixToolset.Sdk from 4.0.4 to 5.0.0
  source/Gnomeshade.Desktop.Installer/Gnomeshade.Desktop.Installer.wixproj
Due: UI

build(deps): remove direct dependency on SkiaSharp
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Gnomeshade.Avalonia.Core.csproj
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
Due: UI

feat(desktop): Add list of loan payments for the selected loan
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeData.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanPaymentRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanRow.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Loans/LoanViewModel.cs
  source/Gnomeshade.Desktop/Views/Loans/LoanUpsertionView.axaml
  source/Gnomeshade.Desktop/Views/Loans/LoanView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/TransactionView.axaml
  source/Gnomeshade.WebApi.Models/Loans/LoanPayment.cs
Due: API, UI

build: Don't publish desktop app as single file
  deployment/build.ps1
  deployment/publish.ps1
  source/Gnomeshade.Desktop.Installer/Gnomeshade.Desktop.Installer.wixproj
  source/Gnomeshade.Desktop.Installer/Product.wxs
  source/Gnomeshade.Desktop/Gnomeshade.Desktop.csproj
Due: UI

fix(desktop): Fix alignment of target currencies/amounts in transaction overview
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Transactions/TransferSummary.cs
  source/Gnomeshade.Desktop/Views/Transactions/TransactionView.axaml
Due: UI

ci: Bump version to 0.8.1
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

feat(desktop): Add transfer reference filter for transactions
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Transactions/Controls/TransactionFilter.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransferSummary.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferExtensions.cs
  source/Gnomeshade.Desktop/Views/Transactions/Controls/TransactionFilterView.axaml
  tests/Gnomeshade.Avalonia.Core.Tests/Transactions/Controls/TransactionFilterTests.cs
Due: UI

fix(desktop): Remove transfer references from TransferOverview They take up too much horizontal space, and I haven't had a need to have them visible yet
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferExtensions.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferOverview.cs
  source/Gnomeshade.Desktop/Views/Transactions/Transfers/TransferView.axaml
Due: UI

fix(desktop): Disable external sign in button if it's not configured
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Authentication/LoginViewModel.cs
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeData.cs
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeOptionsMonitor.cs
  source/Gnomeshade.Desktop/Views/Authentication/LoginView.axaml
Due: UI

test: Remove integration tests for PostgreSQL 11 BREAKING CHANGE: Dropped support for PostgreSQL 11
  docs/changelog.html
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/WebserverSetup.cs
Due: none

fix: Use the most specific version for postgres
  docker-compose.yml
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/WebserverSetup.cs
Due: none

test: Improve postgres test performance
  source/Gnomeshade.Data.PostgreSQL/Migrations/PostgreSQLDatabaseMigrator.cs
  source/Gnomeshade.Data.Sqlite/Migrations/SqliteDatabaseMigrator.cs
  source/Gnomeshade.Data/Migrations/DatabaseMigrator.cs
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/Fixtures/PostgreSQLFixture.cs
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/Fixtures/UnloggedTableScriptPreprocessor.cs
  tests/Gnomeshade.WebApi.Tests.Integration/Fixtures/WebserverFixture.cs
  tests/Gnomeshade.WebApi.Tests.Integration/GnomeshadeWebApplicationFactory.cs
Due: API

feat: Pass server base address when launching client
  docs/changelog.html
  source/Gnomeshade.Desktop/App.axaml.cs
  source/Gnomeshade.Desktop/Program.cs
  source/Gnomeshade.WebApi/Pages/Index.cshtml
Due: API, UI

fix(api): Retry Nordigen requests on 429 response
  source/Gnomeshade.WebApi/Startup.cs
Due: API

feat(api): Remove redundant details from local user accounts
  docs/changelog.html
  source/Gnomeshade.WebApi/Areas/Identity/EmailSender.cs
  source/Gnomeshade.WebApi/Areas/Identity/IEmailSender.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ConfirmEmail.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ConfirmEmailChange.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ConfirmEmailChange.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ForgotPassword.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Login.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/Email.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/Email.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/Index.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/ManageNavPages.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Register.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Register.cshtml.cs
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ResendEmailConfirmation.cshtml
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/ResendEmailConfirmation.cshtml.cs
  source/Gnomeshade.WebApi/Startup.cs
  tests/Gnomeshade.WebApi.Tests.Integration/EndpointTests.cs
Due: API

build(deps): bump HtmlAgilityPack from 1.11.60 to 1.11.61
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
Due: UI

test: Test ansible role on Ubuntu 24.04
  .github/workflows/build-and-test.yml
  deployment/debian/control
  docs/changelog.html
Due: none

feat(api): Give all users read access to system owned data
  source/Gnomeshade.Data/Migrations/00000032_system_data_access.sql
  source/Gnomeshade.Data/Repositories/Queries/User/Insert.sql
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/OwnershipsControllerTests.cs
Due: API

Path conditions:
  API: any of: source/Gnomeshade.Data*/**, source/Gnomeshade.WebApi*/**
  UI: any of: source/Gnomeshade.Avalonia*/**, source/Gnomeshade.Desktop*/**
