Repository VMelnalksnis/Gnomeshade: changes, and which Codecov flags are due for each by the changed paths.
All: API, UI

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  individual_components:
    - component_id: api
      name: API
      paths:
        - source/Gnomeshade.Data*/**
        - source/Gnomeshade.WebApi*/**

    - component_id: ui
      name: UI
      paths:
        - source/Gnomeshade.Avalonia*/**
        - source/Gnomeshade.Desktop*/**

build: bump .NET SDK from 8.0.303 to 8.0.401
  Directory.Packages.props
  Dockerfile
  docs/changelog.html
  docs/sitemap.xml
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

test: disable Nordigen tests that import transactions due to aggressive rate limiting
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/NordigenControllerTests.cs
Due: none

build(deps): bump Microsoft.NET.Test.Sdk from 17.10.0 to 17.11.0
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: UI

ci: bump version to 0.8.3
  docker-compose.yml
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

test: Update PostgreSQL minor versions https://www.postgresql.org/about/news/postgresql-164-158-1413-1316-1220-and-17-beta-3-released-2910/
  docker-compose.yml
  tests/Gnomeshade.Data.Tests.Integration/DatabaseInitialization.cs
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/WebserverSetup.cs
Due: none

build(deps): cleanup Directory.Packages.props
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/Gnomeshade.Data.Sqlite.csproj
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): replace deprecated Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer with Asp.Versioning.Mvc.ApiExplorer
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.WebApi/Configuration/ApiVersioningExtensions.cs
  source/Gnomeshade.WebApi/Configuration/Swagger/SwaggerGenConfigureOptions.cs
  source/Gnomeshade.WebApi/Gnomeshade.WebApi.csproj
  source/Gnomeshade.WebApi/V1/Controllers/AuthenticationController.cs
  source/Gnomeshade.WebApi/V1/Controllers/ExternalAuthenticationController.cs
  source/Gnomeshade.WebApi/V1/Controllers/Iso20022Controller.cs
  source/Gnomeshade.WebApi/V1/Controllers/NordigenController.cs
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v1_swagger.json.verified.txt
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v2_swagger.json.verified.txt
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

test: mock account details from Nordigen (#1334)
  tests/Gnomeshade.WebApi.Tests.Integration/Fixtures/MockNordigenClient.cs
  tests/Gnomeshade.WebApi.Tests.Integration/GnomeshadeWebApplicationFactory.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/NordigenControllerTests.cs
Due: none

fix(desktop): show counterparty name for transactions not involving the user (#1251)
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferExtensions.cs
Due: UI

test: upload test results to codecov
  .github/workflows/build-and-test.yml
  Directory.Packages.props
  deployment/test.sh
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Directory.Build.props
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: UI

fix: fix ReSharper warnings
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeGnomeshadeClient.cs
  source/Gnomeshade.Data/Identity/ApplicationUser.cs
  source/Gnomeshade.Data/Identity/IdentityContext.cs
  source/Gnomeshade.WebApi/OpenApi/ProducesStatus404NotFoundAttribute.cs
  source/Gnomeshade.WebApi/OpenApi/ProducesStatus409ConflictAttribute.cs
  source/Gnomeshade.WebApi/OpenApi/ValidationProblemDetailsFilter.cs
  source/Gnomeshade.WebApi/V1/Controllers/CategoriesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/LinksController.cs
  source/Gnomeshade.WebApi/V1/Controllers/LoansController.cs
  source/Gnomeshade.WebApi/V1/Controllers/OwnersController.cs
  source/Gnomeshade.WebApi/V1/Controllers/OwnershipsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/PurchasesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransactionsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransfersController.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoanPaymentsController.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoansController.cs
  tests/Gnomeshade.Data.Tests.Integration/Currencies.cs
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v1_swagger.json.verified.txt
Due: API, UI

feat: add merging of multiple transactions
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeGnomeshadeClient.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Controls/TransactionMerge.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionViewModel.cs
  source/Gnomeshade.Desktop/Views/Transactions/TransactionView.axaml
  source/Gnomeshade.WebApi.Client/GnomeshadeClient.cs
  source/Gnomeshade.WebApi.Client/ITransactionClient.cs
  source/Gnomeshade.WebApi.Client/Routes.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransactionsController.cs
  tests/Gnomeshade.Avalonia.Core.Tests/Transactions/TransactionViewModelTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v1_swagger.json.verified.txt
Due: API, UI

build(deps): bump NuGet packages
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): remove redundant vulnerable transitive dependencies
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Gnomeshade.Avalonia.Core.csproj
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/Gnomeshade.Data.Tests.Integration.csproj
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

Update CNAME
  docs/CNAME
Due: none

fix(api): fix potential issues with concurrent updates
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Data/AccountUnitOfWork.cs
  source/Gnomeshade.Data/Repositories/AccountInCurrencyRepository.cs
  source/Gnomeshade.Data/Repositories/OwnershipRepository.cs
  source/Gnomeshade.Data/Repositories/ProjectRepository.cs
  source/Gnomeshade.Data/Repositories/Repository.cs
  source/Gnomeshade.Data/Repositories/TransactionRepository.cs
  source/Gnomeshade.Data/TransactionUnitOfWork.cs
  source/Gnomeshade.WebApi/V1/Controllers/AccountsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/CategoriesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/CounterpartiesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/LinksController.cs
  source/Gnomeshade.WebApi/V1/Controllers/OwnersController.cs
  source/Gnomeshade.WebApi/V1/Controllers/OwnershipsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/ProductsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/ProjectsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransactionItemController.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransactionsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/UnitsController.cs
  source/Gnomeshade.WebApi/V1/CreatableBase.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoanPaymentsController.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoansController.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/AccountRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/CategoryRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/ProductRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/UnitRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/UnitsOfWork/TransactionUnitOfWorkTests.cs
Due: API

test: Add integration tests for PostgreSQL 17
  docs/changelog.html
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/WebserverSetup.cs
Due: none

feat(ui): add a dashboard with current state of finances
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/DashboardViewModel.cs
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeData.cs
  source/Gnomeshade.Avalonia.Core/MainWindowViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/BalanceReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/CategoryReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/SplitProvider.cs
  source/Gnomeshade.Avalonia.Core/ServiceCollectionExtensions.cs
  source/Gnomeshade.Desktop/Views/DashboardView.axaml
  source/Gnomeshade.Desktop/Views/DashboardView.axaml.cs
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
Due: UI

ci: bump version to 0.8.4
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

fix(api): return id of created entity in TransactionItemController
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.WebApi/V1/Controllers/TransactionItemController.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/TransactionsControllerTests.cs
Due: API

ci: bump version to 0.8.5
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

docs: add links to all changes in changelog
  docs/changelog.html
Due: none

fix(api): handle balance fee during import from nordigen
  source/Gnomeshade.WebApi/V1/Controllers/NordigenController.cs
Due: API

ci: set all azure settings in one step
  .github/workflows/release.yml
Due: none

build: bump .NET SDK from 8.0.401 to 8.0.403
  Directory.Packages.props
  Dockerfile
  docs/changelog.html
  docs/sitemap.xml
  global.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): bump Avalonia from 11.1.3 to 11.1.4 (#307)
  Directory.Packages.props
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
Due: UI

feat: add support for sysvinit
  .github/workflows/build-and-test.yml
  deployment/ansible/gnomeshade/molecule/default/molecule.yml
  deployment/debian.sh
  deployment/debian/gnomeshade
  deployment/debian/postinst
  deployment/debian/postrm
  deployment/docker/devuan/chimaera/Dockerfile
  deployment/docker/devuan/daedalus/Dockerfile
  deployment/docker/gnomeshade-build/Dockerfile
  deployment/test-deb.sh
Due: none

fix(build): exclude Node directory from publish
  deployment/publish.sh
Due: none

build: simplify debian package creation
  deployment/debian.sh
  deployment/debian/gnomeshade/DEBIAN/conffiles
  deployment/debian/gnomeshade/DEBIAN/control
  deployment/debian/gnomeshade/DEBIAN/postinst
  deployment/debian/gnomeshade/DEBIAN/postrm
  deployment/debian/gnomeshade/DEBIAN/prerm
  deployment/debian/gnomeshade/etc/init.d/gnomeshade
  deployment/debian/gnomeshade/etc/opt/gnomeshade/appsettings.json
  deployment/debian/gnomeshade/lib/systemd/system/gnomeshade.service
  deployment/debian/gnomeshade/usr/share/doc/gnomeshade/changelog
  deployment/debian/gnomeshade/usr/share/doc/gnomeshade/copyright
  deployment/test-deb.sh
  deployment/test-docker.sh
Due: none

feat(api): log transactions received from Nordigen
  source/Gnomeshade.WebApi/Logging/LoggerExtensions.cs
  source/Gnomeshade.WebApi/Logging/LoggingSerializerContext.cs
  source/Gnomeshade.WebApi/V1/Controllers/NordigenController.cs
Due: API

test: fix duplicate user generation
  tests/Gnomeshade.WebApi.Tests.Integration/Fixtures/WebserverFixture.cs
Due: none

test: don't commit database transaction after test to prevent duplicate names
  tests/Gnomeshade.Data.Tests.Integration/Repositories/AccountRepositoryTests.cs
Due: none

test: pass correct instant to date filter
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/TransactionsControllerTests.cs
Due: none

test: switch to TUnit
  .github/workflows/build-and-test.yml
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/AuthorizationTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/EndpointTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/FixtureDataSourceAttribute.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/KeycloakFixture.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/KeycloakFixtureFormatter.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/WebApplicationFactory.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/WebApplicationTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Gnomeshade.WebApi.Tests.Integration.Oidc.csproj
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/HtmlDocumentExtensions.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/HttpResponseMessageExtensions.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/MockBrowser.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/MockProtocolHandler.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/OidcFixtureSource.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/WebserverSetup.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
Due: UI

feat(api): log all application logs during development
  source/Gnomeshade.WebApi/appsettings.Development.json
Due: API

fix(api): fix cash withdrawl/deposit transaction import from Nordigen (#1419)
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.WebApi/V1/Controllers/NordigenController.cs
  source/Gnomeshade.WebApi/V1/Importing/BookedTransactionExtensions.cs
  source/Gnomeshade.WebApi/V1/Importing/TransactionCodes/Domain.cs
  source/Gnomeshade.WebApi/V1/Importing/TransactionCodes/Family.cs
  source/Gnomeshade.WebApi/V1/Importing/TransactionCodes/SubFamily.cs
  source/Gnomeshade.WebApi/V1/Importing/TransactionImportService.cs
  tests/Gnomeshade.WebApi.Tests/V1/Importing/BookedTransactionExtensionsTests.cs
Due: API
