Repository VMelnalksnis/Gnomeshade: changes, and which Codecov flags are due for each by the changed paths.
All: API, UI

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  individual_components:
    - component_id: api
      name: API
      paths:
        - source/Gnomeshade.Data*/**
        - source/Gnomeshade.WebApi*/**

    - component_id: ui
      name: UI
      paths:
        - source/Gnomeshade.Avalonia*/**
        - source/Gnomeshade.Desktop*/**

feat: Add default units
  docs/changelog.html
  source/Gnomeshade.Data/Migrations/00000034_default_units.sql
  tests/Gnomeshade.Data.Tests.Integration/Repositories/UnitRepositoryTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/UnitsControllerTests.cs
Due: API

feat: Add Inverse Multiplier property to Unit
  source/Gnomeshade.Avalonia.Core/AutoCompleteSelectors.cs
  source/Gnomeshade.Avalonia.Core/Products/UnitRow.cs
  source/Gnomeshade.Avalonia.Core/Products/UnitUpsertionViewModel.cs
  source/Gnomeshade.Data/Entities/UnitEntity.cs
  source/Gnomeshade.Data/Migrations/00000033_inverse_multiplier.sql
  source/Gnomeshade.Data/Repositories/Queries/Unit/Insert.sql
  source/Gnomeshade.Data/Repositories/Queries/Unit/Select.sql
  source/Gnomeshade.Data/Repositories/Queries/Unit/SelectAll.sql
  source/Gnomeshade.Data/Repositories/Queries/Unit/Update.sql
  source/Gnomeshade.Desktop/Program.cs
  source/Gnomeshade.Desktop/Views/Products/UnitCreationView.axaml
  source/Gnomeshade.Desktop/Views/Products/UnitView.axaml
  source/Gnomeshade.WebApi.Models/Products/Unit.cs
  source/Gnomeshade.WebApi.Models/Products/UnitCreation.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/UnitRepositoryTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/UnitsControllerTests.cs
Due: API, UI

feat(desktop): Add time axis splits for reports
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/AutoCompleteSelectors.cs
  source/Gnomeshade.Avalonia.Core/Reports/BalanceReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/CategoryReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/IndexedPoint.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/DailySplit.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/IReportSplit.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/MonthlySplit.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/SplitProvider.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/WeeklySplit.cs
  source/Gnomeshade.Avalonia.Core/Reports/Splits/YearlySplit.cs
  source/Gnomeshade.Avalonia.Core/Reports/TransactionExtensions.cs
  source/Gnomeshade.Desktop/App.axaml
  source/Gnomeshade.Desktop/Views/Reports/BalanceReportView.axaml
  source/Gnomeshade.Desktop/Views/Reports/CategoryReportView.axaml
Due: UI

fix(api): Check updated row count
  docs/changelog.html
  source/Gnomeshade.Data/AccountUnitOfWork.cs
  source/Gnomeshade.Data/Repositories/CounterpartyRepository.cs
  source/Gnomeshade.Data/Repositories/Repository.cs
  source/Gnomeshade.Data/Repositories/TransactionRepository.cs
  source/Gnomeshade.Data/TransactionUnitOfWork.cs
  source/Gnomeshade.WebApi/V1/Controllers/CategoriesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/CounterpartiesController.cs
  source/Gnomeshade.WebApi/V1/Controllers/LinksController.cs
  source/Gnomeshade.WebApi/V1/Controllers/OwnershipsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/ProductsController.cs
  source/Gnomeshade.WebApi/V1/Controllers/TransactionItemController.cs
  source/Gnomeshade.WebApi/V1/Controllers/UnitsController.cs
  source/Gnomeshade.WebApi/V1/Importing/Paperless/PaperlessService.cs
  source/Gnomeshade.WebApi/V1/Importing/TransactionImportService.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoanPaymentsController.cs
  source/Gnomeshade.WebApi/V2/Controllers/LoansController.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/AccountRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/ProductRepositoryTests.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/UnitRepositoryTests.cs
Due: API

ci: Remove dependency on azure/appservice-settings
  .github/workflows/release.yml
Due: none

ci: Specify azure resource group
  .github/workflows/release.yml
Due: none

ci: Read azure resource group from secrets instead of env
  .github/workflows/release.yml
Due: none

fix(api): Remove redundant email checks during user registration
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Register.cshtml.cs
Due: API

fix(desktop): Populate existing InverseMultiplier values
  source/Gnomeshade.Avalonia.Core/Products/UnitUpsertionViewModel.cs
Due: UI

fix(desktop): Append owner to unit name where it can be modified/selected
  source/Gnomeshade.Avalonia.Core/Products/ProductClientExtensions.cs
  source/Gnomeshade.Avalonia.Core/Products/UnitRow.cs
Due: UI

fix(desktop): Avoid Windows specific APIs on linux
  docs/changelog.html
  source/Gnomeshade.Desktop/App.axaml.cs
  source/Gnomeshade.Desktop/Authentication/GnomeshadeProtocolHandler.cs
  source/Gnomeshade.Desktop/Authentication/StubbedCredentialStorageService.cs
  source/Gnomeshade.Desktop/Program.cs
Due: UI

ci: Bump resharper version from 2023.3.0 to 2024.1.2
  .github/workflows/build-and-test.yml
Due: none

fix(api): Fix detailed transaction transfer filtering based on date
  docs/changelog.html
  source/Gnomeshade.Data/Repositories/TransactionRepository.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/TransactionsControllerTests.cs
Due: API

fix(desktop): Split transfers by transfer instead of transaction date in BalanceReportViewModel
  docs/changelog.html
  source/Gnomeshade.Avalonia.Core/Reports/BalanceReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/TransactionExtensions.cs
  source/Gnomeshade.Avalonia.Core/Reports/TransferExtensions.cs
Due: UI

feat: Add demo user with sample data for demo server
  .github/workflows/release.yml
  README.md
  docs/assets/balance.jpg
  docs/assets/balance.png
  docs/assets/transactions.jpg
  docs/assets/transactions.png
  docs/changelog.html
  docs/getting-started.html
  docs/index.html
  source/Gnomeshade.WebApi/Areas/Identity/Pages/Account/Register.cshtml.cs
  source/Gnomeshade.WebApi/Configuration/StartupFilters/DemoUserBackgroundService.cs
  source/Gnomeshade.WebApi/Gnomeshade.WebApi.csproj
  source/Gnomeshade.WebApi/Properties/launchSettings.json
  source/Gnomeshade.WebApi/Services/DemoUserService.cs
  source/Gnomeshade.WebApi/Services/UserRegistrationService.cs
  source/Gnomeshade.WebApi/Startup.cs
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/Gnomeshade.TestingHelpers.csproj
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/GnomeshadeWebApplicationFactory.cs
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API

ci: Publish ansible role
  .github/workflows/release.yml
  docs/changelog.html
Due: none

ci: Specify working directory for ansible role publishing
  .github/workflows/release.yml
Due: none

ci: Remove ansible role publishing (#523)
  .github/workflows/release.yml
  docs/changelog.html
Due: none

ci: Automatically delete old pre-release versions of NuGet package
  .github/workflows/nuget-restore.yml
  .github/workflows/package-cleanup.yml
  Gnomeshade.sln
Due: none

build(deps): bump dotnet/sdk in /deployment/docker
  deployment/docker/Dockerfile
Due: none

build: bump .NET SDK from 8.0.204 to 8.0.300
  Dockerfile
  docs/changelog.html
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): pin transitive dependency BouncyCastle.Cryptography to 2.3.1 due to vulnerability
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/Help/override.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
Due: UI

docs: Add sitemap.xml
  docs/sitemap.xml
Due: none

docs: Add canonical links
  docs/changelog.html
  docs/configuration.html
  docs/getting-started.html
  docs/index.html
Due: none

docs: Fix changelog.html
  docs/changelog.html
Due: none

ci: Bump version to 0.8.2
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

test: Update PostgreSQL minor versions https://www.postgresql.org/about/news/postgresql-163-157-1412-1315-and-1219-released-2858/
  docker-compose.yml
  tests/Gnomeshade.Data.Tests.Integration/DatabaseInitialization.cs
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/WebserverSetup.cs
Due: none

fix(desktop): Add annotations to fix ReSharper warnings
  source/Gnomeshade.Avalonia.Core/DataGridItemCollectionView.cs
Due: UI

fix(api): Update year in webpage layout
  source/Gnomeshade.WebApi/Pages/Shared/_Layout.cshtml
Due: API

test: Verify Open API specification content
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Directory.Build.props
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/EndpointTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v1_swagger.json.verified.txt
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.ApiDefinition_ShouldBeExpected._swagger_v2_swagger.json.verified.txt
  tests/Gnomeshade.WebApi.Tests.Integration/OpenApiTests.cs
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: UI

feat(desktop): Add back navigation between views
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Avalonia.Core/Interactivity/HotKeyBehaviour.cs
  source/Gnomeshade.Avalonia.Core/Interactivity/PointerReleasedTrigger.cs
  source/Gnomeshade.Avalonia.Core/MainWindowViewModel.cs
  source/Gnomeshade.Desktop/Views/MainWindow.axaml
  tests/Gnomeshade.Avalonia.Core.Tests/MainWindowViewModelTests.cs
Due: UI

pit-stop
  source/Gnomeshade.Avalonia.Core/DesignTime/DesignTimeGnomeshadeClient.cs
  source/Gnomeshade.Avalonia.Core/MainWindowViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/BalanceReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Reports/CategoryReportViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Controls/TransactionFilter.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionOverview.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/TransactionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/PlannedTransferViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferExtensions.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferUpsertionViewModel.cs
  source/Gnomeshade.Avalonia.Core/Transactions/Transfers/TransferViewModel.cs
  source/Gnomeshade.Avalonia.Core/UpsertionViewModel.cs
  source/Gnomeshade.Data/Entities/PlannedLoanPaymentEntity.cs
  source/Gnomeshade.Data/Entities/PlannedPurchaseEntity.cs
  source/Gnomeshade.Data/Entities/PlannedTransactionEntity.cs
  source/Gnomeshade.Data/Entities/PlannedTransferEntity.cs
  source/Gnomeshade.Desktop/App.axaml.cs
  source/Gnomeshade.Desktop/Views/Reports/BalanceReportView.axaml
  source/Gnomeshade.Desktop/Views/Reports/CategoryReportView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Controls/TransactionFilterView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/Purchases/PurchaseView.axaml
  source/Gnomeshade.Desktop/Views/Transactions/TransactionUpsertionView.axaml
  source/Gnomeshade.WebApi.Client/GnomeshadeClient.cs
  source/Gnomeshade.WebApi.Client/ITransactionClient.cs
  source/Gnomeshade.WebApi.Models/Loans/PlannedLoanPayment.cs
  source/Gnomeshade.WebApi.Models/Transactions/PlannedPurchase.cs
  source/Gnomeshade.WebApi.Models/Transactions/PlannedTransaction.cs
  source/Gnomeshade.WebApi.Models/Transactions/PlannedTransfer.cs
Due: API, UI

build: bump .NET SDK from 8.0.300 to 8.0.303 Pin SDK to specific version in global.json (#1286)
  Dockerfile
  docs/changelog.html
  docs/sitemap.xml
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): pin version of System.Text.Json due to vulnerable transitive dependency
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/Gnomeshade.Data.Tests.Integration.csproj
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

test: fix Ansible role testing
  deployment/ansible/gnomeshade/molecule/default/molecule.yml
Due: none

fix: Pin version of releaser action as the latest version is broken on ubuntu-latest
  .github/workflows/release.yml
Due: none

build(deps): bump WixToolset.Sdk from 5.0.0 to 5.0.1
  source/Gnomeshade.Desktop.Installer/Gnomeshade.Desktop.Installer.wixproj
Due: UI

fix(api): remove duplicate currencies from database
  docs/changelog.html
  docs/sitemap.xml
  source/Gnomeshade.Data/Migrations/00000035_duplicate_currencies.sql
  source/Gnomeshade.Data/Repositories/CurrencyRepository.cs
  tests/Gnomeshade.Data.Tests.Integration/Repositories/CurrencyRepositoryTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration/V1/Controllers/CurrenciesControllerTests.cs
Due: API

fix(desktop): fix null NodaTime value binding (#1323)
  source/Gnomeshade.Avalonia.Core/NodaTimeValueConverter.cs
  source/Gnomeshade.Avalonia.Core/NodaTimeValueConverterBase.cs
  tests/Gnomeshade.Avalonia.Core.Tests/ConvertBackTestCaseSource.cs
  tests/Gnomeshade.Avalonia.Core.Tests/ConvertTestCaseSource.cs
  tests/Gnomeshade.Avalonia.Core.Tests/NodaTimeValueConverterTests.cs
Due: UI

fix(desktop): fix menu item font size (#1322)
  source/Gnomeshade.Desktop/App.axaml
Due: UI
