Repository VMelnalksnis/Gnomeshade: changes, and which Codecov flags are due for each by the changed paths.
All: API, UI

codecov.yml:

comment:
  layout: "header, diff, components"

component_management:
  individual_components:
    - component_id: api
      name: API
      paths:
        - source/Gnomeshade.Data*/**
        - source/Gnomeshade.WebApi*/**

    - component_id: ui
      name: UI
      paths:
        - source/Gnomeshade.Avalonia*/**
        - source/Gnomeshade.Desktop*/**

ci: bump version to 0.8.7
  docker-compose.yml
  docs/changelog.html
  source/Gnomeshade.Desktop.Installer/Product.wxs
  version
Due: UI

docs: fix changelog
  docs/changelog.html
Due: none

test: switch to TUnit
  .github/workflows/build-and-test.yml
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/AuthorizationTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/EndpointTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/FixtureDataSourceAttribute.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/GroupedTestExecutor.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/KeycloakFixture.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/KeycloakFixtureFormatter.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/KeycloakGroupedTestExecutor.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/WebApplicationFactory.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Fixtures/WebApplicationTests.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Gnomeshade.WebApi.Tests.Integration.Oidc.csproj
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/HtmlDocumentExtensions.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/HttpResponseMessageExtensions.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/MockBrowser.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/Helpers/MockProtocolHandler.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/OidcFixtureSource.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/WebserverSetup.cs
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
Due: UI

build(deps): bump NuGet packages
  Directory.Packages.props
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build: bump .NET SDK from 8.0.403 to 9.0.202
  Dockerfile
  deployment/docker/Dockerfile
  deployment/publish.sh
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

ci: bump ubuntu runner version from 20.04 to 24.04
  .github/workflows/build-and-test.yml
  .github/workflows/release.yml
  deployment/debian.sh
Due: none

build(deps): bump WixToolset.Sdk from 5.0.1 to 6.0.1
  source/Gnomeshade.Desktop.Installer/Gnomeshade.Desktop.Installer.wixproj
Due: UI

build(deps): bump .NET SDK from 8.0.410 to 8.0.411
  Directory.Packages.props
  Dockerfile
  deployment/docker/Dockerfile
  global.json
  source/Gnomeshade.Avalonia.Core/Help/licenses.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

build(deps): bump .NET SDK from 8.0.411 to 8.0.417, update packages
  Directory.Packages.props
  Dockerfile
  deployment/docker/Dockerfile
  global.json
  source/Gnomeshade.Avalonia.Core/packages.lock.json
  source/Gnomeshade.Data.PostgreSQL/packages.lock.json
  source/Gnomeshade.Data.Sqlite/packages.lock.json
  source/Gnomeshade.Data/packages.lock.json
  source/Gnomeshade.Desktop/packages.lock.json
  source/Gnomeshade.WebApi/packages.lock.json
  tests/Gnomeshade.Avalonia.Core.Tests/packages.lock.json
  tests/Gnomeshade.Data.Tests.Integration/packages.lock.json
  tests/Gnomeshade.Desktop.Tests/packages.lock.json
  tests/Gnomeshade.TestingHelpers/packages.lock.json
  tests/Gnomeshade.WebApi.Client.Tests/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Oidc/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.PostgreSQL/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration.Sqlite/packages.lock.json
  tests/Gnomeshade.WebApi.Tests.Integration/packages.lock.json
  tests/Gnomeshade.WebApi.Tests/packages.lock.json
Due: API, UI

ci: update ansible role test matrix to remove unsupported OS versions
  .github/workflows/build-and-test.yml
  deployment/debian/control
Due: none

ci: disable dependabot for NuGet packages
  .github/dependabot.yml
Due: none

fix(api): add additional transaction mapping
  source/Gnomeshade.WebApi/V1/Importing/BookedTransactionExtensions.cs
Due: API

Revert "build(deps): bump pyTooling/Actions from 4.3.0 to 7.4.2"
  .github/workflows/release.yml
Due: none

fix(api): fix transaction mapping
  source/Gnomeshade.WebApi/V1/Importing/BookedTransactionExtensions.cs
Due: API

build(deps): bump github actions versions
  .github/workflows/build-and-test.yml
  .github/workflows/release.yml
Due: none

ci: fix trimming configuration
  Directory.Build.props
  source/Gnomeshade.WebApi/Gnomeshade.WebApi.csproj
Due: API
